@model E_CommerceProject.Entities.Models.Shipment

@{
    ViewData["Title"] = "Details";
    Layout = "_CustomLayout";
}

<h1>Details</h1>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrieer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrieer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedDeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedDeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="List">Back to List</a>
</div>
