@model IEnumerable<Shipment>

@{
    ViewData["Title"] = "Orders";
    Layout = "_CustomLayout";
}

<h1 class="mt-3 mb-3">Your Orders</h1>
<hr />

<table class="table table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carrieer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order!.Status)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="data">
            <td>
                @Html.DisplayFor(modelItem => item.Carrieer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNumber)
            </td>
            <td>
                @item.ShippingDate.ToShortDateString()
            </td>
            <td>
                @item.EstimatedDeliveryDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order!.Status)
            </td>
            <td>
                <div class="btn-group">
                        <a asp-controller="Shipment" asp-action="Details" asp-route-shipmentId="@item.ShipmentId" class="btn btn-info">
                            <i class="bi bi-info-circle"></i>
                            Details
                        </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>


