@model IEnumerable<E_CommerceProject.Entities.Models.Shipment>

@{
    ViewData["Title"] = "Shipment List";
    Layout = "_CustomLayout";
}

<h1>Shipment List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShipmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrieer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDeliveryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrieer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
