@model IEnumerable<Product>

@foreach(var item in Model)
{
    <div class="card col-md-4 mb-4">

        <div class="card-body">
            @if (item.Cover == null || item.Cover == "")
            {
                <img src="https://cdn4.iconfinder.com/data/icons/picture-sharing-sites/32/No_Image-1024.png" width="150" height="150" alt="No Image"/>
            }
            else
            {
                <img class="card-img" src="@item.Cover" width="400" height="200" alt="@item.Name" />
            }

            <p class="card-text">@(item.Description.Length > 30? $"{item.Description.Substring(0, 30)}..." : item.Description)</p>

        </div>

        <div >
            <h2 class=" text-center">
                <a asp-controller="Product" asp-action="Details" asp-route-productId="@item.ProductId" class="product-link">@(item.Name.Length > 15 ? $"{item.Name.Substring(0, 15)}..." : item.Name)</a>
            </h2>
            @if (item.Discount.Percentage > 0)
            {
                <p class="last-price"><span>$@item.Price</span></p>
                <p class="new-price"><span>$@((item.Price) - (item.Price * 0.05M))</span>
                <span class="badge badge-discount text-dark">@(item.Discount.Percentage.ToString("0"))% off</span>
                </p>
            }
            else
            {
                <span class="text-light" style="font-size:40px">$@item.Price.ToString("0")</span>
            }

        </div>

        <h4 class="d-grid">
            <a class="card-button" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@item.ProductId">
                + Add to card
            </a>
        </h4>
    </div>
}