@model Order

@{
    ViewData["Title"] = "Order Details";
    Layout = "_CustomLayout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Order Details</h4>
            <hr />
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card" style="width:400px!important">
                        <div class="card-header">
                            Order Information
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Status)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.OrderDate)
                                </dt>
                                <dd class="col-sm-8">
                                    @Model.OrderDate.ToShortDateString()
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.TotalPrice)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.TotalPrice)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="width:450px!important">
                        <div class="card-header">
                            Customer Information
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CustomerInfo!.FirstName)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CustomerInfo!.FirstName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CustomerInfo!.LastName)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CustomerInfo!.LastName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CustomerInfo!.PhoneNumber)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CustomerInfo!.PhoneNumber)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CustomerInfo!.AddressLine1)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CustomerInfo!.AddressLine1)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            Order Details
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderDetails!)
                                    {
                                        <tr>
                                            <td>@item.Product!.Name</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Price</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <a asp-controller="Shipment" asp-action="Index" class="btn btn-secondary">Back to Order</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        background-color: #343a40;
        color: #fff;
    }

    .card-header {
        background-color: #5cb85c;
        color: #fff;
    }

    .card-body {
        padding: 1.25rem 2rem;
    }

    .table {
        color: #fff;
    }

        .table th,
        .table td {
            border-top-color: #555;
            color: aliceblue;
        }
</style>